<% if admin_signed_in? %>
<nav class="navbar navbar-dark bg-dark">
  <h1 class="navbar-brand" href="#">デカ盛り管理</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-end" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      <li>
         <%= link_to admin_posts_path ,class:"nav-item text-dark" do %>
            投稿一覧
        <% end %>
      </li>
     <li>
         <%= link_to admin_users_path,class:"nav-item text-dark" do %>
            会員一覧
        <% end %>
      </li>
     <li>
         <%= link_to destroy_admin_session_path,method: :delete,class:"nav-item" "text-dark" do %>
            ログアウト
        <% end %>
      </li>
    </ul>
  </div>
</nav>
      <% else %>
<nav class="navbar navbar-dark bg-dark">
  <i class="navbar-brand" href="#">デカ盛り管理</i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      <li>
         <%= link_to new_admin_session_path ,class:"nav-item text-dark" do %>
            ログイン
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<% end %>